.Task {
	position: relative;
	width: 50rem;

	.task-title {
		width: 6.4rem;
		min-width: 6.4rem;
	}

	.task-actions {
		display: none;
		position: absolute;
		top: 3.5rem;
		right: .5rem;
	}

	&:hover .task-actions {
		display: block;
	}

	.TabPanel {
		padding: 3.5rem 2rem 3rem;
		height: 9.5rem;
		div > {
			background: red;
			margin:auto;
		}
	}
}
