.Task {
	position: relative;
	width: 50rem;

	.task-title {
		width: 6.4rem;
		min-width: 6.4rem;
	}

	.task-actions {
		display: none;
		position: absolute;
		top: 3.5rem;
		right: .5rem;
	}

	&:hover .task-actions {
		display: block;
	}

	.TabPanel {
		margin: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
